extends layout

block content
    #content
        h1 VRKour
        h1
            small Hardcore Parkour
        #link
            a(class="btn" href="/game") Join World!
        h2 Play VR Parkour with your friends on the web.